html, body, #map { height: 100%;width:100%;}
body { 
    padding: 0; 
    margin: 0; 
    font-family: 'Roboto', sans-serif !important;
}

div#omnibox {
    position: absolute;
    left: 0px;
    margin: 16px;
    top: 0px;
    z-index: 10;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;

}

.searchbox {
    background-color: #fff;
    border: 1px solid transparent;
    border-right: 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    padding: 0 11px 0 13px;
    width: 400px;
    vertical-align: top;
    -webkit-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    -moz-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    -ms-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    -o-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    transition: all 200ms cubic-bezier(0.52,0,0.48,1);
}

.app-imagery-mode .cards-minimized .searchbox {
    background-color: #f6f6f6;
}

.searchbox-shadow {
    box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.0);
    -webkit-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    -moz-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    -ms-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    -o-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    transition: all 200ms cubic-bezier(0.52,0,0.48,1);
}

.cards-minimized .searchbox-shadow {
    box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.3);
}

.searchboxinput {
    line-height: 30px;
    width: 100%;
}

.searchbutton {
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#177d89,#115e67);
    border: 0;
    border-radius: 0 2px 2px 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    height: 32px;
    left: 400px;
    position: absolute;
    text-align: center;
    top: 0;
    vertical-align: top;
    width: 72px;
    z-index: -1;
}

.searchbutton:hover {
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#177d89,#115e67);
}

.searchbutton:focus {
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3),inset 0 0 0 1px rgba(255,255,255,0.5);
    outline: none;
}

.searchbutton:active {
    box-shadow: 0 2px 6px rgba(0,0,0,0.3),inset 2px 0 6px -1px rgba(0,0,0,0.3);
}

.searchbutton::before {
    background: url(//maps.gstatic.com/tactile/omnibox/search-button.png);
    content: "";
    display: block;
    height: 17px;
    margin: 0 auto;
    width: 17px;
}

.highres .searchbutton::before {
    background: url(//maps.gstatic.com/tactile/omnibox/search-button-2x.png);
    background-size: 17px;
}

.sbox-focus {
    margin-left: -1px;
    padding-left: 14px;
    width: 401px;
    border-color: #4d90fe !important;
}

.lssb_a {
    width: 398px;
    border: 0;
    box-shadow: none;
    margin: 0;
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
}

.lsib_a {
    border: 0;
    box-shadow: none;
    margin: 0;
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
}

.lsst_a {
    border: 0;
    box-shadow: none;
    margin: 0;
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
}

.lsst_b {
    border: 0;
    box-shadow: none;
    margin: 0;
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
}

.lssb_c {
    border: 0;
    box-shadow: none;
    margin: 0;
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
}

.lssb_e {
    border: 0;
    box-shadow: none;
    margin: 0;
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
}

.lsq_a {
    border: 0;
    box-shadow: none;
    margin: 0;
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
}

.lscb_a {
    margin-left: 7px;
    background: url(//maps.gstatic.com/tactile/omnibox/reveal-entity-icons.png);
    background-position: 84px 18px;
    cursor: pointer;
    height: 14px;
    width: 14px;
    color: transparent !important;
}

.lsib_b {
    line-height: 0;
    vertical-align: middle;
}

.close-button {
    background: url(//maps.gstatic.com/tactile/omnibox/reveal-entity-icons.png);
    background-position: 84px 18px;
    cursor: pointer;
    height: 14px;
    width: 14px;
}

.lscb_a:hover {
    background-position: 106px 18px;
}

.lscb_a:focus {
    background-position: 106px 18px;
}

.close-button:hover {
    background-position: 106px 18px;
}

.close-button:focus {
    background-position: 106px 18px;
}

.highres .lscb_a {
    background-image: url(//maps.gstatic.com/tactile/omnibox/reveal-entity-icons-2x.png);
    background-size: 132px;
}

.highres .close-button {
    background-image: url(//maps.gstatic.com/tactile/omnibox/reveal-entity-icons-2x.png);
    background-size: 132px;
}

.loading .lscb_a::before {
    background: #fff url(//maps.gstatic.com/tactile/omnibox/loading.gif);
    content: '';
    display: block;
    height: 16px;
    position: absolute;
    left: -1px;
    margin-left: 7px;
    opacity: 0;
    top: -1px;
    transition: opacity 350ms;
    -webkit-transition: opacity 350ms;
    width: 16px;
}

.highres .loading .lscb_a::before {
    background-image: url(//maps.gstatic.com/tactile/omnibox/loading_2x.gif);
    background-size: 16px;
}

.loading .lscb_a:hover::before {
    display: none;
}

.loading.show-loading .lscb_a::before {
    opacity: 1;
}

.searchbox input {
    background-color: transparent;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    outline: 0;
    padding: 0;
    width: 100%;
    box-shadow: none;
    height: auto !important;
}

.searchbox input::-webkit-input-speech-button {
    opacity: 0.5;
}

#rap-card {
    outline: none;
}


.cards-shadow {
    box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.0);
    -webkit-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    -moz-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    -ms-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    -o-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    transition: all 200ms cubic-bezier(0.52,0,0.48,1);
}

#cards {
    color: #115e67;
    -webkit-transform: translateZ(0);
    padding: 0;
    top: 0;
    z-index: 9;
    width: 400px;
    outline: none;
    position: absolute;
    background: #FFF;
    margin-top: 11px;
    margin-left: 16px;
    -webkit-transition: opacity 200ms cubic-bezier(0.52,0,0.48,1);
    -moz-transition: opacity 200ms cubic-bezier(0.52,0,0.48,1);
    -ms-transition: opacity 200ms cubic-bezier(0.52,0,0.48,1);
    -o-transition: opacity 200ms cubic-bezier(0.52,0,0.48,1);
    transition: opacity 200ms cubic-bezier(0.52,0,0.48,1);
    opacity: 1;
}

.results-shadow {
    box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.0);
    -webkit-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    -moz-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    -ms-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    -o-transition: all 200ms cubic-bezier(0.52,0,0.48,1);
    transition: all 200ms cubic-bezier(0.52,0,0.48,1);
}

#results {
    color: #115e67;
    -webkit-transform: translateZ(0);
    padding: 15px;
    top: 0;
    z-index: 9;
    width: 370px;
    outline: none;
    position: absolute;
    background: #FFF;
    margin-top: 11px;
    margin-left: 16px;
    -webkit-transition: opacity 200ms cubic-bezier(0.52,0,0.48,1);
    -moz-transition: opacity 200ms cubic-bezier(0.52,0,0.48,1);
    -ms-transition: opacity 200ms cubic-bezier(0.52,0,0.48,1);
    -o-transition: opacity 200ms cubic-bezier(0.52,0,0.48,1);
    transition: opacity 200ms cubic-bezier(0.52,0,0.48,1);
    opacity: 1;
}
#results ul li {
    list-style-image:url('img/globe-icon.png');
    
}


.nav a{
    color: #115e67;
}


.tab-content {
    margin: 20px;
}













































/**
 * iOS 6 style switch checkboxes
 * by Lea Verou http://lea.verou.me
 */


:root input[type="checkbox"].ios-switch + div {
    display: inline-block;
    vertical-align: middle;
    width: 3em; height: 1em;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 999px;
    margin: 0 .5em;
    background: white;
    background-image: linear-gradient(rgba(0,0,0,.1), transparent),
                      linear-gradient(90deg, hsl(210, 90%, 60%) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    background-origin: border-box;
    background-clip: border-box;
    overflow: hidden;
    transition-duration: .4s;
    transition-property: padding, width, background-position, text-indent;
    box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
                0 .45em 0 .1em rgba(0,0,0,.05) inset;
    font-size: 150%; /* change this and see how they adjust! */
}

:root input[type="checkbox"].ios-switch:checked + div {
    padding-left: 2em;  width: 1em;
    background-position: 0 0;
}

:root input[type="checkbox"].ios-switch + div:before {
    content: 'On';
    float: left;
    width: 1.65em; height: 1.65em;
    margin: -.1em;
    border: 1px solid rgba(0,0,0,.35);
    border-radius: inherit;
    background: white;
    background-image: linear-gradient(rgba(0,0,0,.2), transparent);
    box-shadow: 0 .1em .1em .1em hsla(0,0%,100%,.8) inset,
                0 0 .5em rgba(0,0,0,.3);
    color: white;
    text-shadow: 0 -1px 1px rgba(0,0,0,.3);
    text-indent: -2.5em;
}

:root input[type="checkbox"].ios-switch:active + div:before {
    background-color: #eee;
}

:root input[type="checkbox"].ios-switch:focus + div {
    box-shadow: 0 .1em .1em rgba(0,0,0,.2) inset,
                0 .45em 0 .1em rgba(0,0,0,.05) inset,
                0 0 .4em 1px rgba(255,0,0,.5);
}

:root input[type="checkbox"].ios-switch + div:before,
:root input[type="checkbox"].ios-switch + div:after {
    font: bold 60%/1.9 sans-serif;
    text-transform: uppercase;
}

:root input[type="checkbox"].ios-switch + div:after {
    content: 'Off';
    float: left;
    text-indent: .5em;
    color: rgba(0,0,0,.45);
    text-shadow: none;

}


/* Switch code ends here, from now on it’s just bling for the demo page */
